.flex{
    display: flex;
}
.borderStyle{
    width: 1px;
    background-color:#e3e3e3;
    position: absolute;
    right: 0px;
}
.tabOpacity{
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    background-color: #ffffff;
}
.tabTraverse{
    float: left;
}