.full{
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    composes: flex from './index.css';
    flex-direction: column;
}
.tabContent{
    flex: 1;
    position: relative;
}
.tabBarbottom{
    composes: flex from './index.css';
    border-top: 1px #e3e3e3 solid;
}
.tabBartop{
    composes: flex from './index.css';
    border-bottom: 1px #e3e3e3 solid;
}
.tabTraverse{
    position: absolute;
    height: 100%;
    left: 0px;
    top: 0px;
}